/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-card {
  max-width: 400px;
  margin-top: 20px;
  margin-left: 40px;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  width: 120px;
}

.example-button-row {
  display: table-cell;
}

.example-button-row button {
  display: table-cell;
  margin-right: 8px;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  width: 480px;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}
