/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
  height: 50px;
  width: 60px;
}

.flex-item {
  display: flex;
}

.close-button {
  height: 40px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  width: 450px;
  height: 150px;
  margin: 2%;
  border: 1px solid gray;
  padding: 2%;
}

.box {
  justify-content: space-between;
  width: 100%;
}

.avatar {
  width: 18%;
}

.user-data {
  width: 82%;
  p {
    margin: 0;
  }
}
