<div>
    <div>
        <form class="example-form">
            <mat-form-field class="example-full-width">
                <input type="text" placeholder="Digite o nome de usuário" aria-label="User" matInput
                    [formControl]="myControl" [matAutocomplete]="auto">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"
                    (optionSelected)="onEditClick($event.option.value)">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                        {{option}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </form>
    </div>
    <div *ngIf="user != undefined">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-actions>
                    <button (click)="closeCard()">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-card-actions>
                <mat-card-title>Usuário selecionado:</mat-card-title>
            </mat-card-header>
            <div>
                <div mat-card-avatar class="example-header-image"></div>
                <div>
                    <mat-card-content>
                        <p>{{ user.name }}</p>
                        <p>{{ user.email }}</p>
                        <p>{{ user.phone }}</p>
                    </mat-card-content>
                </div>
            </div>
        </mat-card>
    </div>
</div>