<div class="select">
    <!-- <form class="example-form">
        <mat-form-field class="example-full-width">
            <input type="text" placeholder="Digite o nome de usuário" aria-label="Number" matInput [formControl]="myControl"
                [matAutocomplete]="auto">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="onEditClick($event.option.value)">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{option}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </form> -->
    <select [(ngModel)]="selectedUser" (change)="onEditClick($event.target.value)">
        <option value="" disabled selected>to</option>
        <option *ngFor="let user of allUsers; let i=index" value={{user.id}}>{{user.name}}</option>
    </select>
</div>
<div *ngIf="user != undefined" class="card-session">
    <mat-card class="example-card">
        <mat-card-actions class="mat-card-actions">
            <button class="mat-button" mat-button (click)="closeCard()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-card-actions>
        <mat-card-header>
            <mat-card-title>Usuário selecionado:</mat-card-title>
        </mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-content>
            <p>{{ user.name }}</p>
            <p>{{ user.email }}</p>
            <p>{{ user.phone }}</p>
        </mat-card-content>
    </mat-card>
</div>