<div>
    <div *ngIf="names">
        <form class="example-form">
            <mat-form-field class="example-full-width">
                <input [(ngModel)]="selectedOption" type="text" placeholder="Digite o nome de usuário" aria-label="User" matInput
                    [formControl]="myControl" [matAutocomplete]="auto">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"
                    (optionSelected)="onEditClick($event.option.value)">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                        {{option}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </form>
    </div>
    <div *ngIf="user != undefined">
        <div class="container flex-column">
            <div class="flex-row box">
                <div class="flex-item">
                    Usuário selecionado:
                </div>
                <div class="flex-item close-button">
                    <button (click)="closeCard()">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>
            </div>
            <div class="flex-row">
                <div class="flex-item avatar">
                    <div mat-card-avatar class="example-header-image"></div>
                    
                </div>
                <div class="flex-column user-data">
                        <p>{{ user.name }}</p>
                        <p>{{ user.email }}</p>
                        <p>{{ user.phone }}</p>
                </div>
            </div>
        </div>
    </div>
</div>